html { 
  background: url(BGI.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    margin: 0;
}

.card-horizontal {
    display: flex;
    flex: 9 9 auto;
    padding: 20px;
  }
  .card{
    background-color: rgba(85, 39, 8, 0.00);
    margin: 40px;
  }
  .card-title{
    font-size: 50px;
    padding-left: 20px;
    color: rgb(114, 9, 100);
  }
  .card-text{
    font-size: 22px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(49, 19, 2);
  }
  .card:hover {
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.00);
    background-color: rgba(44, 114, 4, 0.00);
  }


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(192, 226, 219, 0.383);
  color: #000000fb;
  width: 100%;
  padding: 20px;
}
#myBtn {
  width: 250px;
  font-size: 18px;
  padding: 10px;
  margin-left: 50px;
  border: none;
  color: rgba(77, 3, 100, 0.703);
  background: rgb(211, 197, 4);
  cursor: pointer;
  text-decoration: none;
}
#myBtn a{
  text-decoration: none;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}
#myBtn:hover {
  background: rgba(154, 189, 212, 0.76);
  color: rgba(77, 3, 100, 0.703);
}


img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}